.wrapperWorkFlow {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonHeadeBack {
  position: absolute;
  top: 32px;
  right: 150px;
}

.wrapperSchedule {
    height: 95vh;
    width: 85%;
    border: 1px solid black;
    overflow-y: scroll;
}

.wrapperIntervalWork {
  height: 100px;
  padding-left: 8px;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
